@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-image: url("../images/accueil.png");
    background-position: top center;
    background-size: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-decoration: none;
    margin: 0;
    flex-direction: column;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    font-family: 'Playfair Display', serif;
}

header{
    text-decoration: none;

}

.menu{
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a{

    color: white;
    text-decoration: none;
    transition: .5s;
}

a{
    color: white;
}

nav a:hover{
    color: goldenrod;
}

h1{
    color: white;
    margin-left: 5px;
    margin-top: 100px;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
}

p{
    color: white;
    margin-left: 5px;
    align-items: center;
    margin-top: 0;
    text-align: center;
}

.presentationcartes{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.listing{
    margin-top: 200px;
    list-style-type: none;
    padding: 0;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.cartes{
    display: inline;
    
}

ul{
    list-style-type: none;
}

#list{
    list-style: none;
}

li {
    display: inline;
}
h3 {
    padding-left: 60px;
    color: white;
}

.display_card{
    transition: 1s;
    transform: scale(1);
}

img:hover{
    transform: scale(1.1);
}

.filtre {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: goldenrod;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.filtre:hover {
    color: rgb(248, 202, 86);
    transition: 0.2s;
    border: 1px solid rgb(248, 202, 86);
}

.cartes {
    display: block;
}

.hidden {
    display: none;
}