@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-image: url("/assets/images/accueil.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-decoration: none;
    flex-direction: column;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


li {
    list-style-type: none;
}

a{

    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 1rem;
}

a:hover{
    color: goldenrod;
    transition: .5s

}

header {
    position: relative;
    padding: 0;
    background-color: rgba(0,0,0,0.238);
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 2rem;
}

.navbar .menu-bouton {
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.active {
    background-color: goldenrod;
    color: black;
    border: 1px solid goldenrod;
    padding: 0.5rem;
    border-radius:5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.ins:hover {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.co {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius:5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.co:hover {
    background-color: goldenrod;
    color: black;
    border: 1px solid black;
}

/*Sidenav*/

.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.burger-menu.openNav {
    height: 310px;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .active {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*Responsive*/

@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar .menu,
    .navbar .active {
        display: none;
    }

    .navbar .menu-bouton {
        display: block;
    }

    .burger-menu {
        display: block;
    }
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input {
    height:40px ;
    width: 70%;
    color: black;
    background: none;
    padding: 0.625rem;
    border: 2px solid #030104
}

button {
    padding: 10px 32px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black
}

label {
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-error {
    border: 1px solid rgb(212, 42, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    display: none;
}

.message-error.visible{
    display: block;
}

.message-success.visible{
    display: block;
}

.message-success {
    border: 1px solid rgb(81, 150, 2);
    color: rgb(0, 0, 0);
    background-color: rgba(81, 150, 2, 0.4);
    padding: 16px 32px;
    display: none;
}

.success {
    border: 1px solid rgb(81, 158, 2);
    background-color: rgba(113, 212, 0, 0.4);
}

.wrapper {
    position: relative;
    width: 500px;
    height: 80%;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    margin: 150px;
}

.wrapper .login-box {
    width: 100%;
    padding: 60px;
}

.wrapper h1 {
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    margin-top : 50px;
    margin-bottom: 10px;
}

.box {
    margin: 10px;
}

.submit {
    margin: 10px;
}