@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-image: url("/assets/images/accueil.png");
    background-position: top center;
    background-size: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-decoration: none;
    margin: 0;
    flex-direction: column;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    font-family: 'Playfair Display', serif;
}

header{
    text-decoration: none;

}

.menu{
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a{

    color: white;
    text-decoration: none;
    transition: .5s;
}

a{
    color: white;
}

nav a:hover{
    color: goldenrod;
}

.profil{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    display: flex;
    justify-content: content;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.galerie {
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.boosters {
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
}

.perso {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
